---
- name: "Uninstall old versions"
  apt:
    state: "absent"
    name:
      - "docker.io"
      - "docker-compose"
      - "docker-doc"
      - "podman-docker"
      - "containerd"
      - "runc"

- name: "Uninstall Docker Engine"
  apt:
    state: "absent"
    name:
      - "docker-ce"
      - "docker-ce-cli"
      - "containerd.io"
      - "docker-buildx-plugin"
      - "docker-compose-plugin"
      - "docker-ce-rootless-extras"

- name: "Remove Docker Engine directories (WARN: Delete all!)"
  become: true
  file:
    path: "{{ item }}"
    state: "absent"
  loop:
    - "/var/lib/docker"
    - "/var/lib/containerd"

- name: "Delete sources of Docker"
  become: true
  file:
    path: "{{ item }}"
    state: "absent"
  loop:
    - "/etc/apt/sources.list.d/docker.sources"
    - "/etc/apt/keyrings/docker.asc"
...